<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ng-container *ngIf="node">
      <ion-title>{{node.tag}}</ion-title>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="node" class="ion-padding">
  <h2>{{node.title}}</h2>
  <ion-item>
    <ion-note slot="start">
      {{node.uid }}
    </ion-note>
    <ion-note slot="end">
      {{node.created }}
    </ion-note>
  </ion-item>
  <ion-text [innerHTML]="node.body"></ion-text>

</ion-content>
